body { margin-left: 200px; margin-right:200px; margin-top: 30px; border: 1px solid black; width: 707px;}

.conteneur { display: flex; width: 707px; height: 1000px; z-index: 2;}


.float { z-index: 1;
		 margin-top: 20px; margin-bottom: 15px; margin-left: 20px;
		 color: white; text-align: right;  font-size: 45px; font-style: italic; font-weight: bold; 
		 background-color: crimson;
		 width: 477px;
		 padding-right: 1px ; padding-top: 3px ; padding-bottom: 5px;}

.colonne0 { background-color: crimson; width: 10px; height: 1000px; }



.colonne1 { background-color: dimgray;
			color: white; font-size: 15px;
			width: 200px;
		  	height: 1000px;}

.comp { font-size: 21px; font-weight: bold; font-style: italic; margin-bottom:3px; text-align: center;}
.info { font-size: 19px; padding-left: 10px; }
.info1 { font-size: 19px; padding-left: 10px; margin-top: 10px;}
.maths { font-size: 18px; padding-left: 10px; }
.maths1 { font-size: 18px; margin-top: 10px; padding-left: 10px;}




.colonne2 { width: 497px;
	        height: 1000px;}


.perso { display: flex; float: right;
		 justify-content: space-between; 
		 width: 350px; margin-right:3px;}

.titre { font-size: 25px; color: crimson; font-weight: bold; padding-left: 20px;}

.exp { font-size: 17px; font-weight: bold; padding-left: 20px;}
.orga { font-size: 17px; padding-left: 20px;}
.orga1 { font-size: 17px; padding-left: 20px; margin-top: 10px;}
.ac { font-size: 12px; font-style: italic; color: dimgray; padding-left: 20px;}
.ac1 { font-size: 15px; font-style: italic; color: dimgray; padding-left: 20px;}
.uni { font-size: 12px; padding-left: 20px;}


.margg { margin-left: 20px; }
.marggg { margin-left: 35px; }
