body { margin-left: 200px; margin-right:200px; margin-top: 30px }

header { border: 5px solid white;
		 padding-bottom: 0px;
		 padding-right: 20px;
		 background-image: url("images/banniere.PNG");
		 background-size:cover;
		 font-size:20px;
		 height: 144px;
		 color: white; }

.nom { color: white; text-align: right; font-size: 25px; font-weight: bold }
.flot { float: left; margin:5px; border-radius:5%;}
.conteneur_h { display: flex }

.col { display: flex;
	   flex-direction: column;
	   justify-content: center }

.nom2 { color: white; font-size: 35px; font-weight: bold; margin-left:5px; }
.projet { color: white; font-size: 30px; font-weight: bold; margin-left:10px; font-style: italic; }



.conteneur { display: flex;
	         justify-content: space-between }


.cadre1 { border: 1px solid black; border-radius: 20px;
		  box-shadow: 0px 0px 3px 3px dimgrey;
		  font-size: 20px; background-color: #EAECE2}

.cadre2 { border: 1px solid black; border-radius: 20px;
	      margin-left: 8px; box-shadow: 6px 6px 6px dimgrey}



.titr1 { background-color: #E52F19;
	     border-radius: 20px 20px 0px 0px;
		 width:100%;
		 padding-top: 5px; padding-bottom: 5px;
	     color: white; font-weight: bold;
	     text-decoration: underline;
	     font-size:  25px;
	     text-align: center}


.titr2 { background-color: black;
	     border-radius: 20px 20px 0px 0px;
		 width:100%;
		 padding-top: 5px; padding-bottom: 5px;
	     color: white; font-weight: bold;
	     text-decoration: underline;
	     font-size:  25px;
	     text-align: center}

.comp { color: #E52F19; font-size: 23px; font-weight: bold; font-style: italic; margin-left: 5px; margin-top: 30px; margin-bottom:5px;}

.margg { margin-left: 50px; }
.marggg { margin-left: 70px; }


.marron
{
	color:  brown;
	font-size: 25px;
	text-align: center;
}

.or
{
	color: darkgoldenrod;
	font-size: 25px;
	text-align: center;
}

.gris
{
	color: grey;
	font-size: 15px;
	text-align: left;
	font-style: italic;

}